:root{
   --color1: #A0F2F2; 
   --color2: #04B2D9; 
   --color3: #4E8AD9; 
   --color4: #555BD9; 
   --color5: #3A36BF; 
}
*{
   box-sizing: border-box;
   margin: 0;
}
html{
   height: 100%;
   font-size:62.5%;
}
body{
   height:100%;
   font-size:1.6rem;

}
ul{
   list-style: none;
   position: fixed;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
li {
   float: left;
}
li a{
   text-decoration: none;
   display: block;
   color: grey;
   padding: 8px;
   text-align: center;
}
li a:hover{
   background-color: rgba(255,255,255,.5);
}
section{
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   /* border: 2px solid darkblue; */
}
.navbar{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   width: 100%;
   height:40px;
   background-color: rgba(255,255,255,.7);
}
.container{
   /* border: 2px solid green; */
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.text-body{
   width: 60%;
   padding: 15px;
}
.about-content{
   display: flex;
   justify-content: center;
   align-items: center;
}
.contact-icons{
   /* background-color:darkslategrey; */
   display: flex;
   vertical-align:baseline;
}
.card{
   width: 300px;
}
.icon{
   display: block;
   padding: 20px;
   text-align: center;
}
.icon:hover{
   transition: all .2s ease-in-out;
   transform: scale(1.15);
   filter: brightness(130%);
}
/* .skills-content{
   display: flex;
   border: 2px solid purple;
} */
.skill-logo{
   display: flex;
   flex-direction: column;
   padding: 15px 15px 0 15px;
   align-items: center;
}
.skill-img{
   height: 65px;
}
#home{
   /* background-color: aqua; */
   background-image: linear-gradient(var(--color1), var(--color2));
}
#about{
   /* background-color:blueviolet; */
   background-image: linear-gradient(var(--color2), var(--color3));
}

#projects{
   background-image: linear-gradient(var(--color3), var(--color4));
   /* background-image: linear-gradient(rgba(31,119,171,30), rgba(31,119,171,15)); */
   /* background-color: orangered; */
}
#skills{
   background-image: linear-gradient(var(--color4), var(--color5));
   /* background-image: linear-gradient(rgba(31,119,171,45), rgba(31,119,171,30)); */
   /* background-color: darkgray; */
}
/* #contact{ */
   /* background-color:azure */
/* } */
#footer{
   /* background-color:darkkhaki; */
   height: 100px;
   /* border: 2px solid teal; */
}
#profile-pic{
   border: 4px solid darkgrey;
   border-radius: 20px;
   width: 20%;

}
#title{
   size: 2rem;
   font-weight: bold;
   color: hotpink;
}

