* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 1.6rem;
  color: #2B7B8C;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.navbar ul {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  text-decoration: none;
  display: block;
  color: #2B7B8C;
  padding: 8px;
  text-align: center;
}

.navbar li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.dropdown-content li {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dropdown1 {
  background-color: rgba(255, 255, 255, 0.75);
}

section {
  height: 100%;
  /* border: solid 2px red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

i,
a {
  color: #2B7B8C;
}

.titles {
  text-transform: uppercase;
  margin-top: 70px;
  width: 75%;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

#about > .titles {
  color: #023373;
  border-bottom: 1px solid #ADD9C9;
}

#projects > .titles {
  color: #020659;
  border-bottom: 1px solid #ADD9C9;
}

#skills > .titles {
  color: #37A69B;
  border-bottom: 1px solid #ADD9C9;
}

.container {
  /* border: 2px solid green; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-body {
  width: 60%;
  font-size: medium;
}

.content {
  /* border: solid 1px gold; */
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #020659;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px 0px 200px 0px;
  height: auto;
}

.contact-icons {
  color: #2B7B8C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 20%;
  min-width: 270px;
  max-height: 350px;
  border: 3px solid #ADD9C9;
  border-radius: 20px;
  margin: 30px 30px;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.25);
          box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.25);
}

.card-image {
  border-radius: 18px 18px 0 0;
  height: 275px;
}

.card-title {
  color: #023373;
}

.activator {
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.35rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2B7B8C;
}

.project-tech ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 110px;
  margin-left: 20px;
}

.project-tech li {
  font-size: 1.4rem;
  color: #2B7B8C;
}

.skills-container {
  color: #ADD9C9;
}

.icon {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #2B7B8C;
}

.icon:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.skill-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

.skill-img {
  height: 75px;
  padding-bottom: 8px;
}

.shrink-img {
  padding-top: 15px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  position: absolute;
  bottom: 30%;
  left: 0;
  left: .25em;
  background-color: #ADD9C9;
  color: #023373;
  padding: .5em;
  border-radius: 1em;
  font-weight: 700;
  font-size: 1.2em;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.tooltip:hover .tooltip-text {
  -webkit-filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.25));
          filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.25));
  opacity: .9;
}

#projects-content {
  border: 2px solid #ADD9C9;
  color: #023373;
}

#home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ADD9C9), to(#37A69B));
  background-image: linear-gradient(#ADD9C9, #37A69B);
}

#about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#37A69B), to(#2B7B8C));
  background-image: linear-gradient(#37A69B, #2B7B8C);
  height: auto;
}

#projects {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2B7B8C), to(#023373));
  background-image: linear-gradient(#2B7B8C, #023373);
  height: auto;
}

#skills {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#023373), to(#020659));
  background-image: linear-gradient(#023373, #020659);
  height: auto;
}

#footer {
  height: 250px;
  color: #2B7B8C;
  font-size: 12px;
  background-color: #020659;
}

#profile-pic {
  border: 2.5px solid #ADD9C9;
  border-radius: 20px;
  width: 25%;
  min-width: 300px;
  max-width: 450px;
  margin: 20px;
}

#title {
  font-size: 60px;
  font-weight: bold;
  color: #020659;
}

#subtitle {
  font-size: 40px;
  color: #023373;
}

@media screen and (max-width: 1300px) {
  #about .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: none;
        flex-wrap: none;
  }
}
