// colors: 
   $color1: #ADD9C9;
   $color2: #37A69B;
   $color3: #2B7B8C;
   $color4: #023373;
   $color5: #020659;
   $ltgrey: rgba(255, 255, 255, .25);
   $mdgrey: rgba(255, 255, 255, .5);
   $dkgrey: rgba(255, 255, 255, 0.75);